.ipl-c-container{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;

    > .goback-close{
        width: 100%;
        display: flex;
        justify-content:  space-between;
        padding: 4%;
        align-items: center;
    }

    .ipl-c-img {
        text-align: center;
        width: 300px;
        height: auto;
        margin: 0 auto;
    }

    
    .ipl-c-link {
        text-align: center;
        padding: 10px 10px;
        display: block;
        width: 120px;
        border: 2px #000 solid;
        background: turquoise;
        color: #000;
        margin: 0 auto;
        margin-top: 10px;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background: rgb(7, 240, 216);
        }
   
    }

    .ipl-c-imgdiv {
        margin: 0 auto;
        text-align: center
    }

    p {
        text-align: center;
    }
}

@media( min-width: 500px ) {
    .ipl-c-container {
        box-shadow: 0 0 38px 7px rgba(0, 0, 0, 0.12);
    }
}



.ipl-q-container{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;

    > .goback-close{
        width: 100%;
        display: flex;
        justify-content:  space-between;
        padding: 4%;
        align-items: center;
    }
    
     .ipl-q-img{
        text-align: center;
        width: 300px;
        height: auto;
        margin: 0 auto;
    }

    
         .ipl-q-link {
            text-align: center;
            padding: 10px 10px;
            display: block;
            width: 180px;
            background: turquoise;
            border: 2px #000 solid;
            color: #000;
            margin: 0 auto;
            margin-top: 10px;
            text-decoration: none;
            border-radius: 5px;

             &:hover {
                 background: rgb(7, 240, 216);
             }
        }

        .ipl-q-imgdiv{
            margin: 0 auto;
            text-align: center
        }

        p{
            text-align: center;
        }
    
}

@media( min-width: 500px ) {
    .ipl-q-container {
        box-shadow: 0 0 38px 7px rgba(0, 0, 0, 0.12);
    }
}