.tr-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;

    > .tr-goback {
        padding: 7%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > a {
            text-decoration: underline;
            &:nth-of-type(1) {
                font-size: 20px;
                color: black;

                &:hover {
                    color: blue;
                }
            }

            &:nth-of-type(2) {
                font-size: 15px;
                color: rgb(45, 45, 241);

                &:hover {
                    color: rgb(0, 0, 202);
                }
            }
        }
    }

    > h1 {
        text-align: center;
    }

    > .tr-p {
        width: 100%;
        text-align: center;
        font-size: 24px;

        > p {
            font-weight: 600;
        }
    }

    > .tr-collapse {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        border: none;
        background-color: transparent;
        margin-bottom: 50px;

        
        > .tr-panel {
            margin-bottom: 10px;
            border: 2px solid #787878;
            background-color: #D6D6D6;

            > .ant-collapse-content{
                background-color: #F2F2F2ed;

                .tr-panel-box-title {
                    width: 88%;
                    margin: 0 auto;
                    box-sizing: border-box;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    font-weight: bold;

                    > div {

                        &:nth-of-type(2), &:nth-of-type(3) {
                            text-align: right;
                        }
                    }

                }

                .tr-panel-box-item {
                    width: 88%;
                    margin: 0 auto;
                    box-sizing: border-box;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    > div {

                        &:nth-of-type(2), &:nth-of-type(3) {
                            text-align: right;
                        }
                    }
                }

                .tr-panel-box-item-sec {
                    width: 88%;
                    margin: 0 auto;
                    box-sizing: border-box;
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    > div {

                        &:nth-of-type(2) {
                            text-align: right;
                        }
                    }
                }

                h4 {
                    color: #666666;
                    width: 88%;
                    margin: 0 auto;
                }
            }

        }

        .viewStatus {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
            text-align: center;

            > span {
                font-size: 12px;

                &:nth-of-type(1) {
                    color: #6915FD;
                    font-size: 15px;
                    font-weight: 600;
                }

                &:nth-of-type(2) {
                    text-decoration: underline;
                }
            }
        }
       
    }
}


@media( min-width: 500px ) {
    .tr-container {
        box-shadow: 0 0 38px 7px rgba(0, 0, 0, 0.12);
    }
}