.goback {
    //  text-decoration: underline;

        cursor: pointer;
        width: 30px;
        height: 30px;
        object-fit: cover;

        // font-size: 20px;
        // color: black;

        // &:hover {
        //     color: blue;
        // }
}