.s-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;

    > .goback-close{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:  space-between;
        padding: 4%;
    }

    > .s-spinner{
        text-align: center;
        width: auto;
        height: auto;
        cursor: pointer;
    }

    > .s-action{
        text-align: center,

    }

}

    @media( min-width: 500px ) {
        .s-container {
            box-shadow: 0 0 38px 7px rgba(0, 0, 0, 0.12);
        }
    }