.s-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;

    .s-goback {
        padding-top: 4%;
        padding-left: 4%;
        width: 100px;

        > a {
            text-decoration: underline;

            font-size: 20px;
            color: black;

            &:hover {
                color: blue;
            }
        }
    }

    > .s-spinner{
        text-align: center;
        width: auto;
        height: auto;
        cursor: pointer;
    }

    > .s-action{
        text-align: center,

    }

}

    @media( min-width: 500px ) {
        .s-container {
            box-shadow: 0 0 38px 7px rgba(0, 0, 0, 0.12);
        }
    }